---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/orion122/laravel-blog/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1545410207'
      Etag:
      - W/"9526c48500be20b02227978feb423c35"
      Last-Modified:
      - Fri, 21 Dec 2018 16:28:55 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"8fc6b270ca937a738c59ae64683a5caeffa363f1","node_id":"MDY6Q29tbWl0MTIyOTQ4MDExOjhmYzZiMjcwY2E5MzdhNzM4YzU5YWU2NDY4M2E1Y2FlZmZhMzYzZjE=","commit":{"author":{"name":"ramazan","email":"orion122@users.noreply.github.com","date":"2018-12-21T16:28:55Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2018-12-21T16:28:55Z"},"message":"Merge
        pull request #1 from Kasmenai/patch-1\n\nUpdate readme.md","tree":{"sha":"5d64c837eb2bafcf1629ff8b8a703370f0ce8858","url":"https://api.github.com/repos/orion122/laravel-blog/git/trees/5d64c837eb2bafcf1629ff8b8a703370f0ce8858"},"url":"https://api.github.com/repos/orion122/laravel-blog/git/commits/8fc6b270ca937a738c59ae64683a5caeffa363f1","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJcHRTHCRBK7hj4Ov3rIwAAdHIIAB8B9UfHD6xlxLXFKWpdmQrY\nVtUWsp7sqI66/2MBbFPrB9Wr0A33KRUeB1w1+V+lh7CH3gp/vueOOcpZZ3DHe39Y\np5CaUTk5emROORPPejFSxojLSYfw5fEr/PlYzcfj+VOxgkLJycy6pn/vvyAqFVs2\n2c1+UjXCMZo6T57IsYjBaHebSJrY1G1wKJeAQW2s87eALE8Fvh/th1mVELsMOqqJ\nirIQ1JeXk/UKrzPmX1zHRpgQXXhk4YRudpXRx+/N7GDDUFPplziDlu6ELjIBc8ZB\nNbCae/BYPNsBl6aZRr7s5XjmJU7su6ahT34fJ9EVwfhr01WZ0QTQS9IpWkTBmbw=\n=2wFX\n-----END
        PGP SIGNATURE-----\n","payload":"tree 5d64c837eb2bafcf1629ff8b8a703370f0ce8858\nparent
        a677a4ba4f6472e53417fb45a2b8f51df5081350\nparent 7b75556634a6f96114ec5cce9cee7decf3f173a3\nauthor
        ramazan <orion122@users.noreply.github.com> 1545409735 +0300\ncommitter GitHub
        <noreply@github.com> 1545409735 +0300\n\nMerge pull request #1 from Kasmenai/patch-1\n\nUpdate
        readme.md"}},"url":"https://api.github.com/repos/orion122/laravel-blog/commits/8fc6b270ca937a738c59ae64683a5caeffa363f1","html_url":"https://github.com/orion122/laravel-blog/commit/8fc6b270ca937a738c59ae64683a5caeffa363f1","comments_url":"https://api.github.com/repos/orion122/laravel-blog/commits/8fc6b270ca937a738c59ae64683a5caeffa363f1/comments","author":{"login":"orion122","id":3809844,"node_id":"MDQ6VXNlcjM4MDk4NDQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3809844?v=4","gravatar_id":"","url":"https://api.github.com/users/orion122","html_url":"https://github.com/orion122","followers_url":"https://api.github.com/users/orion122/followers","following_url":"https://api.github.com/users/orion122/following{/other_user}","gists_url":"https://api.github.com/users/orion122/gists{/gist_id}","starred_url":"https://api.github.com/users/orion122/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orion122/subscriptions","organizations_url":"https://api.github.com/users/orion122/orgs","repos_url":"https://api.github.com/users/orion122/repos","events_url":"https://api.github.com/users/orion122/events{/privacy}","received_events_url":"https://api.github.com/users/orion122/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"a677a4ba4f6472e53417fb45a2b8f51df5081350","url":"https://api.github.com/repos/orion122/laravel-blog/commits/a677a4ba4f6472e53417fb45a2b8f51df5081350","html_url":"https://github.com/orion122/laravel-blog/commit/a677a4ba4f6472e53417fb45a2b8f51df5081350"},{"sha":"7b75556634a6f96114ec5cce9cee7decf3f173a3","url":"https://api.github.com/repos/orion122/laravel-blog/commits/7b75556634a6f96114ec5cce9cee7decf3f173a3","html_url":"https://github.com/orion122/laravel-blog/commit/7b75556634a6f96114ec[...]
