---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/orion122/laravel-blog/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic b3Jpb24xMjI6MTNzTCpuMjY=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1545084353'
      Etag:
      - W/"8163166a25309eb1f575a7972c04d925"
      Last-Modified:
      - Mon, 26 Feb 2018 14:23:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"a677a4ba4f6472e53417fb45a2b8f51df5081350","node_id":"MDY6Q29tbWl0MTIyOTQ4MDExOmE2NzdhNGJhNGY2NDcyZTUzNDE3ZmI0NWEyYjhmNTFkZjUwODEzNTA=","commit":{"author":{"name":"ramazan","email":"yaru@bk.ru","date":"2018-02-26T14:23:11Z"},"committer":{"name":"ramazan","email":"yaru@bk.ru","date":"2018-02-26T14:23:11Z"},"message":"add
        categories","tree":{"sha":"912cae3d262f18f9b166e0bc2b9561d1df1c6a10","url":"https://api.github.com/repos/orion122/laravel-blog/git/trees/912cae3d262f18f9b166e0bc2b9561d1df1c6a10"},"url":"https://api.github.com/repos/orion122/laravel-blog/git/commits/a677a4ba4f6472e53417fb45a2b8f51df5081350","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/orion122/laravel-blog/commits/a677a4ba4f6472e53417fb45a2b8f51df5081350","html_url":"https://github.com/orion122/laravel-blog/commit/a677a4ba4f6472e53417fb45a2b8f51df5081350","comments_url":"https://api.github.com/repos/orion122/laravel-blog/commits/a677a4ba4f6472e53417fb45a2b8f51df5081350/comments","author":{"login":"orion122","id":3809844,"node_id":"MDQ6VXNlcjM4MDk4NDQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3809844?v=4","gravatar_id":"","url":"https://api.github.com/users/orion122","html_url":"https://github.com/orion122","followers_url":"https://api.github.com/users/orion122/followers","following_url":"https://api.github.com/users/orion122/following{/other_user}","gists_url":"https://api.github.com/users/orion122/gists{/gist_id}","starred_url":"https://api.github.com/users/orion122/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orion122/subscriptions","organizations_url":"https://api.github.com/users/orion122/orgs","repos_url":"https://api.github.com/users/orion122/repos","events_url":"https://api.github.com/users/orion122/events{/privacy}","received_events_url":"https://api.github.com/users/orion122/received_events","type":"User","site_admin":false},"committer":{"login":"orion122","id":3809844,"node_id":"MDQ6VXNlcjM4MDk4NDQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3809844?v=4","gravatar_id":"","url":"https://api.github.com/users/orion122","html_url":"https://github.com/orion122","followers_url":"https://api.github.com/users/orion122/followers","following_url":"https://api.github.com/users/orion122/following{/other_user}","gists_url":"https://api.github.com/users/orion122/gists{/gist_id}","starred_url":"https://api.github.com/users/orion122/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orion122/subscriptions","organizations_url":"https://api.github.com/users/orion122/orgs","repos_url":"https://api.github.com/users/orion122/repos","events_url":"https://api.github.com/users/orion122/events{/privacy}","received_events_url":"https://api.github.com/users/orion122/received_events","type":"User","site_admin":false},"parents":[{"sha":"8cbec52fa3bf93b76c4a8c3086d03cdc88218d0a","url":"https://api.github.com/repos/orion122/laravel-blog/commits/8cbec52fa3bf93b76c4a8c3086d03cdc88218d0a","html_url":"https://github.com/orion122/laravel-blog/commit/8cbec52fa3bf93b76c4a8c3086d03cdc88218d0a"}]},{"sha":"8cbec52fa3bf93b76c4a8c3086d03cdc88218d0a","node_id":"MDY6Q29tbWl0MTIyOTQ4MDExOjhjYmVjNTJmYTNiZjkzYjc2YzRhOGMzMDg2ZDAzY2RjODgyMThkMGE=","commit":{"author":{"name":"ramazan","email":"yaru@bk.ru","date":"2018-02-26T10:33:34Z"},"com[...]
