---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/orion122/ruby-koans-solutions/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1545142848'
      Etag:
      - W/"925d22e120a50acd453ef2c431082936"
      Last-Modified:
      - Sun, 07 Oct 2018 18:42:11 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"49c54e1a0308c79deec7e7f2e1c5eab74ca303ba","node_id":"MDY6Q29tbWl0MTUxNzE0NTgzOjQ5YzU0ZTFhMDMwOGM3OWRlZWM3ZTdmMmUxYzVlYWI3NGNhMzAzYmE=","commit":{"author":{"name":"ramazan
        yaraliev","email":"yaru@bk.ru","date":"2018-10-07T18:42:11Z"},"committer":{"name":"ramazan
        yaraliev","email":"yaru@bk.ru","date":"2018-10-07T18:42:11Z"},"message":"complete
        scoring project","tree":{"sha":"feebbf0ff423c30c400e53e040c78e493b9e6146","url":"https://api.github.com/repos/orion122/ruby-koans-solutions/git/trees/feebbf0ff423c30c400e53e040c78e493b9e6146"},"url":"https://api.github.com/repos/orion122/ruby-koans-solutions/git/commits/49c54e1a0308c79deec7e7f2e1c5eab74ca303ba","comment_count":0,"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}},"url":"https://api.github.com/repos/orion122/ruby-koans-solutions/commits/49c54e1a0308c79deec7e7f2e1c5eab74ca303ba","html_url":"https://github.com/orion122/ruby-koans-solutions/commit/49c54e1a0308c79deec7e7f2e1c5eab74ca303ba","comments_url":"https://api.github.com/repos/orion122/ruby-koans-solutions/commits/49c54e1a0308c79deec7e7f2e1c5eab74ca303ba/comments","author":{"login":"orion122","id":3809844,"node_id":"MDQ6VXNlcjM4MDk4NDQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3809844?v=4","gravatar_id":"","url":"https://api.github.com/users/orion122","html_url":"https://github.com/orion122","followers_url":"https://api.github.com/users/orion122/followers","following_url":"https://api.github.com/users/orion122/following{/other_user}","gists_url":"https://api.github.com/users/orion122/gists{/gist_id}","starred_url":"https://api.github.com/users/orion122/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orion122/subscriptions","organizations_url":"https://api.github.com/users/orion122/orgs","repos_url":"https://api.github.com/users/orion122/repos","events_url":"https://api.github.com/users/orion122/events{/privacy}","received_events_url":"https://api.github.com/users/orion122/received_events","type":"User","site_admin":false},"committer":{"login":"orion122","id":3809844,"node_id":"MDQ6VXNlcjM4MDk4NDQ=","avatar_url":"https://avatars0.githubusercontent.com/u/3809844?v=4","gravatar_id":"","url":"https://api.github.com/users/orion122","html_url":"https://github.com/orion122","followers_url":"https://api.github.com/users/orion122/followers","following_url":"https://api.github.com/users/orion122/following{/other_user}","gists_url":"https://api.github.com/users/orion122/gists{/gist_id}","starred_url":"https://api.github.com/users/orion122/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/orion122/subscriptions","organizations_url":"https://api.github.com/users/orion122/orgs","repos_url":"https://api.github.com/users/orion122/repos","events_url":"https://api.github.com/users/orion122/events{/privacy}","received_events_url":"https://api.github.com/users/orion122/received_events","type":"User","site_admin":false},"parents":[{"sha":"93cc74f5009e5619b52659225d7a0897bdf3adaf","url":"https://api.github.com/repos/orion122/ruby-koans-solutions/commits/93cc74f5009e5619b52659225d7a0897bdf3adaf","html_url":"https://github.com/orion122/ruby-koans-solutions/commit/93cc74f5009e5619b52659225d7a0897bdf3adaf"}]},{"sha":"93cc74f5009e5619b52659225d7a0897bdf3adaf","node_id":"MDY6Q29tbWl0MTUxNzE0NTgzOjkzY2M3NGY1MDA5ZTU2MTliNTI2NTkyMjVkN2EwODk3YmRmM2FkYWY=","commit":{"author":{"name":"ramazan
        yaraliev","email":"yaru@bk.ru","d[...]
